[Unit]
Description=fleet
Wants=etcd.service
After=etcd.service

Wants=fleet.socket
After=fleet.socket

[Service]
ExecStart=/usr/bin/fleetd --config=/etc/fleet/fleet.conf
